{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #main-cart-items {
      display: block;
    }

    .mobile_cart {
      display: none
    }

  }

  .cart_title {
    color: var(--Black, #000);
    font-family: Gabarito;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 114%;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px var(--Black, #000);
  }
  .cart_options_title {
    color: var(--400, #9A9A9A);
    font-family: Gabarito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
  }

  .cart_header {
    background: var(--100, #EFEFEF);
  }

  .cart-item__details > a {
    color: var(--Black, #000);
    font-family: Gabarito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    text-align: left;
  }

  .cart_price {
    color: var(--400, #9A9A9A);
    font-family: "Switzer Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
  }

  .content-for-layout {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 1440px;
  }

  .cart_item {
    display: flex;
    width: 100%;
  }

  @media (max-width: 1200px) {
    .content-for-layout {
      margin: auto;
      display: flex;
      flex-direction: column;
      max-width: 1440px;
    }
  }

  @media (max-width: 750px) {
    #main-cart-items {
      display: none;
    }
    .mobile_cart {
      display: block
    }
    .product__property {
      display: flex;
      margin-bottom: 5px;
    }
    dd {
      margin-left: 10px !important;
    }
    .cart_price {
      color: var(--Black, #000);
    }
    .cart-item__name {
      color: var(--Black, #000);
      font-family: Gabarito;
      font-size: 14px;
      font-style: normal;
      line-height: 136%;
      letter-spacing: 0.56px;
      font-weight: 700;
    }
    .product__properties {
      color: var(--400, #9A9A9A);
      font-family: "Switzer Variable";
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.14px;
    }
    .cart_title {
      font-size: 32px;
    }
    .product_info {
      padding: 0 20px;
    }
    .quantity {
      width: auto;
      min-height: 30px !important;
    }
    .quantity__input {
      max-width: 50px;
      height: 30px;
    }
    .quantity__button {
      display: flex;
      justify-content: left;
      width: auto;
      height: 30px;
    }
    cart-remove-button .button {
      min-width: auto;
      min-height: 30px;
    }
    cart-remove-button a {
      min-height: 30px;
    }
    .remove_button {
      max-height: 30px;
    }
    .cart_item {
      margin-bottom: 20px;
    }
  }

  .cart-item__properties {
    margin-top: 10px;
    font-size: 14px;
  }

  .cart-item__property {
    display: flex;
    gap: 5px;
    color: var(--400, #9A9A9A);
    font-family: "Switzer Variable";
    line-height: 150%;
  }

  .cart-item__property dt {
    font-weight: 600;
  }

  .cart-item__property dd {
    margin: 0;
  }

  .cart_table_section {
    padding: 0 20px;
  }

{%- endstyle -%}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}
<script src="{{ 'cart-page.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-input.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-remove-buttons.js' | asset_url }}" defer="defer"></script>

<cart-items class="isolate{% if cart == empty %} is-empty {% endif %}">
  <div class="page-width cart_table_section">
    <div class="title-wrapper-with-link">
      <h1 class="title cart_title">{{ 'sections.cart.title' | t }}</h1>
    </div>

    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.continue_shopping' | t }}
      </a>

      {%- if shop.customer_accounts_enabled and customer == null -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    <form
      action="{{ routes.cart_url }}"
      class="cart__contents critical-hidden"
      method="post"
      id="cart">

      <div
        class="cart__items"
        id="main-cart-items"
        data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items">
              <caption class="visually-hidden">
                {{ 'sections.cart.title' | t }}
              </caption>
              <thead>
                <tr class="cart_header">
                  <th
                    class="cart_options_title"
                    colspan="2"
                    scope="col">
                    {{ 'sections.cart.headings.product' | t }}
                  </th>
                  <th
                    class="cart_options_title"
                    colspan="1"
                    scope="col">
                    PRICE
                  </th>
                  <th
                    class="cart_options_title"
                    colspan="1"
                    scope="col">
                    {{ 'sections.cart.headings.quantity' | t }}
                  </th>
                  <th
                    class="cart_options_title"
                    colspan="1"
                    scope="col">
                    SUBTOTAL
                  </th>
                  <th
                    class="cart_options_title"
                    colspan="1"
                    scope="col"></th>
                </tr>
              </thead>

              <tbody>
                {%- for item in cart.items -%}
                  <tr
                    class="cart-item"
                    id="CartItem-{{ item.index | plus: 1 }}"
                    data-product-id="{{item.product.id}}"
                    data-price="{{ item.original_price }}">
                    <td class="cart-item__media">
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a
                          href="{{ item.url }}"
                          class="cart-item__link"
                          aria-hidden="true"
                          tabindex="-1"></a>
                        <div class="cart-item__image-container">
                          {%- if item.properties._variant_image -%}
                            <img
                              src="{{ item.properties._variant_image }}"
                              class="cart-item__image"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="150"
                              data-variant-image="true"
                              data-frame-type="{{ item.properties._frame_type }}">
                          {%- else -%}
                            <img
                              src="{{ item.image | image_url: width: 300 }}"
                              class="cart-item__image"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="150">
                          {%- endif -%}
                        </div>
                      {% endif %}
                    </td>

                    <td class="cart-item__details">
                      {%- if settings.show_vendor -%}
                        <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                      {%- endif -%}
                      
                      <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                      {%- if item.properties != blank -%}
                        <dl class="cart-item__properties">
                          {%- for property in item.properties -%}
                            {%- unless property.first contains '_' -%}
                              <div class="cart-item__property">
                                <dt style="text-align: left;">{{ property.first }}:</dt>
                                <dd style="text-align: left;">{{ property.last }}</dd>
                              </div>
                            {%- endunless -%}
                          {%- endfor -%}
                          {%- if item.properties._frame_type -%}
                            <div class="cart-item__property">
                              <dt>Frame:</dt>
                              <dd>{{ item.properties._frame_type }}</dd>
                            </div>
                          {%- endif -%}
                        </dl>
                      {%- endif -%}

                      <ul
                        class="discounts list-unstyled"
                        role="list"
                        aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.line_level_discount_allocations -%}
                          <li class="discounts__discount">
                            {{- 'icon-discount.svg' | inline_asset_content -}}
                            {{ discount.discount_application.title | escape }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </td>

                    <td>
                      <div class="product-option cart_price">
                        {{ item.variant.price | money }}
                      </div>
                    </td>
                    {%- liquid
                      assign has_qty_rules = false
                      assign qty_rule_increment = item.variant.quantity_rule.increment | default: 1
                      assign qty_rule_min = item.variant.quantity_rule.min | default: 1

                      if qty_rule_increment > 1
                        assign has_qty_rules = true
                      endif
                      if qty_rule_min > 1
                        assign has_qty_rules = true
                      endif
                      if item.variant.quantity_rule.max != null
                        assign has_qty_rules = true
                      endif

                      assign has_vol_pricing = false
                      if item.variant.quantity_price_breaks.size > 0
                        assign has_vol_pricing = true
                      endif
                    -%}
                    <td class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                      <quantity-popover>
                        <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                aria-expanded="false"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide medium-hide">
                                {{- 'icon-info.svg' | inline_asset_content -}}
                              </button>
                            {%- endif -%}
                            <quantity-input class="quantity cart-quantity">
                              <button
                                class="quantity__button no-js-hidden"
                                name="minus"
                                type="button"
                                data-action="decrease-quantity">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-minus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <input
                                class="quantity__input"
                                data-quantity-input
                                data-quantity-variant-id="{{ item.variant.id }}"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                data-min="{{ item.variant.quantity_rule.min }}"
                                {% if item.variant.quantity_rule.max !=null %}
                                max="{{ item.variant.quantity_rule.max }}"
                                {% endif %}
                                step="{{ item.variant.quantity_rule.increment }}"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                                data-quantity-input>
                              <button
                                class="quantity__button no-js-hidden"
                                name="plus"
                                type="button"
                                data-action="increase-quantity">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-plus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </quantity-input>
                          </div>
                        </div>
                        {%- if has_qty_rules or has_vol_pricing -%}
                          <button
                            type="button"
                            class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide"
                            aria-expanded="false">
                            {{- 'icon-info.svg' | inline_asset_content -}}
                            <span>
                              {%- if has_vol_pricing -%}
                                {{ 'products.product.volume_pricing.note' | t }}
                              {%- elsif has_qty_rules -%}
                                {{ 'products.product.quantity.note' | t }}
                              {%- endif -%}
                            </span>
                          </button>
                        {%- endif -%}
                        {%- if has_vol_pricing or has_qty_rules -%}
                          <div
                            class="cart-items__info global-settings-popup quantity-popover__info"
                            tabindex="-1"
                            hidden>
                            {%- if has_qty_rules == false -%}
                              <span class="volume-pricing-label caption">
                                {{- 'products.product.volume_pricing.title' | t -}}
                              </span>
                            {%- endif -%}
                            <div class="quantity__rules caption">
                              {%- if item.variant.quantity_rule.increment > 1 -%}
                                <span class="divider">
                                  {{- 'products.product.quantity.multiples_of' | t: quantity: item.variant.quantity_rule.increment
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.quantity_rule.min > 1 -%}
                                <span class="divider">
                                  {{- 'products.product.quantity.min_of' | t: quantity: item.variant.quantity_rule.min
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.quantity_rule.max != null -%}
                                <span class="divider">
                                  {{- 'products.product.quantity.max_of' | t: quantity: item.variant.quantity_rule.max
                                  -}}
                                </span>
                              {%- endif -%}
                            </div>
                            <button
                              class="button-close button button--tertiary large-up-hide"
                              type="button"
                              aria-label="{{ 'accessibility.close' | t }}">
                              <span class="svg-wrapper">
                                {{- 'icon-close.svg' | inline_asset_content -}}
                              </span>
                            </button>
                            {%- if item.variant.quantity_price_breaks.size > 0 -%}
                              <volume-pricing class="parent-display">
                                <ul class="list-unstyled">
                                  <li>
                                    <span>{{ item.variant.quantity_rule.min }}+</span>
                                    {%- assign price = item.variant.price | money_with_currency -%}
                                    <span>
                                      {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                  </li>
                                  {%- for price_break in item.variant.quantity_price_breaks -%}
                                    <li>
                                      <span>
                                        {{- price_break.minimum_quantity -}}
                                        <span aria-hidden="true">+</span>
                                      </span>
                                      {%- assign price = price_break.price | money_with_currency -%}
                                      <span>
                                        {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </volume-pricing>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                        <div
                          class="cart-item__error"
                          id="Line-item-error-{{ item.index | plus: 1 }}"
                          role="alert">
                          <small class="cart-item__error-text"></small>
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                        </div>
                      </quantity-popover>
                    </td>

                    <td class="cart-item__totals right small-hide">
                      <div class="product-option cart_price">
                        {{ item.variant.price | times: item.quantity | money }}
                      </div>
                    </td>
                    <td>
                      <cart-remove-button
                        id="Remove-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                        data-variant-id="{{ item.variant_id }}">
                        <a
                          href="{{ item.url_to_remove }}"
                          class="button button--tertiary"
                          aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}">
                          <span class="svg-wrapper">
                            {{- 'icon-remove.svg' | inline_asset_content -}}
                          </span>
                        </a>
                      </cart-remove-button>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>

      <div class="mobile_cart">
        {%- for item in cart.items -%}
          <div
            class="cart_item"
            id="CartItem-{{ item.index | plus: 1 }}"
            data-product-id="{{item.product.id}}">
            <div class="cart-item__media">
              {% if item.image %}
                {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                <a
                  href="{{ item.url }}"
                  class="cart-item__link"
                  aria-hidden="true"
                  tabindex="-1"></a>
                <div class="cart-item__image-container">
                  {%- if item.properties._variant_image -%}
                    <img
                      src="{{ item.properties._variant_image }}"
                      class="cart-item__image"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="150"
                      height="150"
                      data-variant-image="true"
                      data-frame-type="{{ item.properties._frame_type }}">
                  {%- else -%}
                    <img
                      src="{{ item.image | image_url: width: 300 }}"
                      class="cart-item__image"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="150"
                      height="150">
                  {%- endif -%}
                </div>
              {% endif %}
            </div>
            <div class="product_info">
              <div class="product__details">
                {%- if settings.show_vendor -%}
                  <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                {%- endif -%}

                <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                {%- if item.properties != blank -%}
                  <dl class="product__properties">
                    {%- for property in item.properties -%}
                      {%- unless property.first contains '_' -%}
                        <div class="product__property">
                          <dt>{{ property.first }}:</dt>
                          <dd>{{ property.last }}</dd>
                        </div>
                      {%- endunless -%}
                    {%- endfor -%}
                    {%- if item.properties._frame_type -%}
                      <div class="product__property">
                        <dt>Frame:</dt>
                        <dd>{{ item.properties._frame_type }}</dd>
                      </div>
                    {%- endif -%}
                  </dl>
                {%- endif -%}

                <ul
                  class="discounts list-unstyled"
                  role="list"
                  aria-label="{{ 'customer.order.discount' | t }}">
                  {%- for discount in item.line_level_discount_allocations -%}
                    <li class="discounts__discount">
                      {{- 'icon-discount.svg' | inline_asset_content -}}
                      {{ discount.discount_application.title | escape }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div>
                <div class="product-option cart_price">
                  {{ item.variant.price | times: item.quantity | money }}
                </div>
              </div>
              {%- liquid
                assign has_qty_rules = false
                assign qty_rule_increment = item.variant.quantity_rule.increment | default: 1
                assign qty_rule_min = item.variant.quantity_rule.min | default: 1

                if qty_rule_increment > 1
                  assign has_qty_rules = true
                endif
                if qty_rule_min > 1
                  assign has_qty_rules = true
                endif
                if item.variant.quantity_rule.max != null
                  assign has_qty_rules = true
                endif

                assign has_vol_pricing = false
                if item.variant.quantity_price_breaks.size > 0
                  assign has_vol_pricing = true
                endif
              -%}
              <div class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                <quantity-popover>
                  <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                    <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                      {{ 'products.product.quantity.label' | t }}
                    </label>
                    <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                      {%- if has_qty_rules or has_vol_pricing -%}
                        <button
                          type="button"
                          aria-expanded="false"
                          class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide medium-hide">
                          {{- 'icon-info.svg' | inline_asset_content -}}
                        </button>
                      {%- endif -%}
                      <quantity-input class="quantity cart-quantity">
                        <button
                          class="quantity__button no-js-hidden"
                          name="minus"
                          type="button"
                          data-action="decrease-quantity">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                          </span>
                          <span class="svg-wrapper">
                            {{- 'icon-minus.svg' | inline_asset_content -}}
                          </span>
                        </button>
                        <input
                          class="quantity__input"
                          data-quantity-variant-id="{{ item.variant.id }}"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="0"
                          data-min="{{ item.variant.quantity_rule.min }}"
                          {% if item.variant.quantity_rule.max !=null %}
                          max="{{ item.variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ item.variant.quantity_rule.increment }}"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                          data-quantity-input>
                        <button
                          class="quantity__button no-js-hidden"
                          name="plus"
                          type="button"
                          data-action="increase-quantity">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                          </span>
                          <span class="svg-wrapper">
                            {{- 'icon-plus.svg' | inline_asset_content -}}
                          </span>
                        </button>
                      </quantity-input>
                    </div>
                  </div>
                  {%- if has_qty_rules or has_vol_pricing -%}
                    <button
                      type="button"
                      class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide"
                      aria-expanded="false">
                      {{- 'icon-info.svg' | inline_asset_content -}}
                      <span>
                        {%- if has_vol_pricing -%}
                          {{ 'products.product.volume_pricing.note' | t }}
                        {%- elsif has_qty_rules -%}
                          {{ 'products.product.quantity.note' | t }}
                        {%- endif -%}
                      </span>
                    </button>
                  {%- endif -%}
                  {%- if has_vol_pricing or has_qty_rules -%}
                    <div
                      class="cart-items__info global-settings-popup quantity-popover__info"
                      tabindex="-1"
                      hidden>
                      {%- if has_qty_rules == false -%}
                        <span class="volume-pricing-label caption">
                          {{- 'products.product.volume_pricing.title' | t -}}
                        </span>
                      {%- endif -%}
                      <div class="quantity__rules caption">
                        {%- if item.variant.quantity_rule.increment > 1 -%}
                          <span class="divider">
                            {{- 'products.product.quantity.multiples_of' | t: quantity: item.variant.quantity_rule.increment
                            -}}
                          </span>
                        {%- endif -%}
                        {%- if item.variant.quantity_rule.min > 1 -%}
                          <span class="divider">
                            {{- 'products.product.quantity.min_of' | t: quantity: item.variant.quantity_rule.min
                            -}}
                          </span>
                        {%- endif -%}
                        {%- if item.variant.quantity_rule.max != null -%}
                          <span class="divider">
                            {{- 'products.product.quantity.max_of' | t: quantity: item.variant.quantity_rule.max
                            -}}
                          </span>
                        {%- endif -%}
                      </div>
                      <button
                        class="button-close button button--tertiary large-up-hide"
                        type="button"
                        aria-label="{{ 'accessibility.close' | t }}">
                        <span class="svg-wrapper">
                          {{- 'icon-close.svg' | inline_asset_content -}}
                        </span>
                      </button>
                      {%- if item.variant.quantity_price_breaks.size > 0 -%}
                        <volume-pricing class="parent-display">
                          <ul class="list-unstyled">
                            <li>
                              <span>{{ item.variant.quantity_rule.min }}+</span>
                              {%- assign price = item.variant.price | money_with_currency -%}
                              <span>
                                {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                            </li>
                            {%- for price_break in item.variant.quantity_price_breaks -%}
                              <li>
                                <span>
                                  {{- price_break.minimum_quantity -}}
                                  <span aria-hidden="true">+</span>
                                </span>
                                {%- assign price = price_break.price | money_with_currency -%}
                                <span>
                                  {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </volume-pricing>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <div
                    class="cart-item__error"
                    id="Line-item-error-{{ item.index | plus: 1 }}"
                    role="alert">
                    <small class="cart-item__error-text"></small>
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                  </div>
                </quantity-popover>
              </div>

              <div class="cart-item__totals right small-hide">
                <div class="product-option cart_price">
                  {{ item.variant.price | times: item.quantity | money }}
                </div>
              </div>
              <div class="remove_button">
                <cart-remove-button
                  id="Remove-{{ item.index | plus: 1 }}"
                  data-index="{{ item.index | plus: 1 }}"
                  data-variant-id="{{ item.variant_id }}">
                  <a
                    href="{{ item.url_to_remove }}"
                    class="button button--tertiary"
                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}">
                    <span class="">
                      Remove
                    </span>
                  </a>
                </cart-remove-button>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

      <p
        class="visually-hidden"
        id="cart-live-region-text"
        aria-live="polite"
        role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status">
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </div>
</cart-items>

{% schema %}
  {
    "name": "t:sections.main-cart-items.name",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}